// Custom styles.
body {
    background-image:url(/images/bkg.jpg);
    background-size:cover;
    background-repeat:no-repeat; 
    background-attachment:fixed
}

//.post-block {
//    filter: alpha(opacity=50); 
//   opacity:0.5; 
//}